version: '3'
services:
  resnode:
    image: "resnode:latest"    
    ports:
      -  "3000:3000"
    volumes:
      - ${HOME}/resuser:/home/resuser
  resistance-core:
    image: "rescore:latest"
    ports:
      -  "18132:18132"
      -  "18133:18133"
    volumes:      
      - ${HOME}/resuser:/home/resuser      
